{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Movie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actors</th>
                <th>ReleaseDate</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td><a href="{{ path('app_movie_show', {'id': movie.id}) }}">{{ movie.title }}</a></td>
                <td>
                    {% for actor in movie.actors %}
                        <a href="{{ path('app_actor_show', {'id': actor.id}) }}">{{ actor }}</a>
                        <br>
                    {% endfor %}
                </td>
                <td>{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ movie.description }}</td>
                <td>
                    <a href="{{ path('app_movie_show', {'id': movie.id}) }}">show</a>
                    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>
                    {{ include('movie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movie_new') }}">Create new</a>
{% endblock %}
